@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23000000' fill-opacity='0.08'%3E%3Cpath fill-rule='evenodd' d='M5 3.59L1.46.05.05 1.46 3.59 5 .05 8.54l1.41 1.41L5 6.41l3.54 3.54 1.41-1.41L6.41 5l3.54-3.54L8.54.05 5 3.59zM17 2h24v2H17V2zm0 4h24v2H17V6zM2 17h2v24H2V17zm4 0h2v24H6V17z'/%3E%3C/g%3E%3C/svg%3E");
    color:#000;
    /* font-family: 'Peddana', serif; */
    font-family: 'Merriweather', serif;
    font-weight: 700;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.quote-container{
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 30px;
    background-color: rgba(225,225,225,0.4);
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.2);
}

.quote-text{
    font-size: 2.75rem;
    font-family: 'Open Sans', sans-serif;
}

.long-quote{
    font-size:2rem;
    font-family: 'Open Sans', sans-serif;
}

.fa-quote-left{
    font-size: 4rem;
}

.quote-author{
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
}

.button-container{
    margin-top:15px;    
    display: flex;
    justify-content: space-between;
}

button{
    cursor: pointer;
    font-size: 1.2rem;
    height:2.5rem;
    color:#fff;
    background-color: #333;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121,121,121,0.65);
}

button:hover{
    filter: brightness(120%);
}

button:active{
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(225,225,225,0.65);
}

.twitter-button:hover{
    color:#38a1f3;
}

.fa-twitter{
    font-size:1.5rem;
}
/* Loader */
.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #333; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Media Query:Tablet or Smaller */
@media screen and (max-width:1000px){
    .quote-container{
        margin:auto 10px;
    }
    .quote-text{
        font-size: 2.5rem;
    }
}