@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:ital@1&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Manrope, sans-serif;

  font-weight: 700;
  background: -webkit-linear-gradient(left, hsl(0, 0%, 86%), hsl(0, 0%, 92%));
  background: linear-gradient(to left, hsl(0, 0%, 86%), hsl(0, 0%, 92%));
  color: #575757;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote__container {
  margin: 0 auto;
  width: auto;
  max-width: 900px;
  padding: 2rem 3rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 1.3rem 1.3rem 2rem #dcdcdc, -1.3rem -1.3rem 2rem #ebebeb;

  /* box-shadow: .1rem 0 0 .1rem rgba(61, 173, 233, .75),
-.1rem -.1rem 0 .1rem rgba(94, 142, 266, .25),
-.1rem -.1rem 0 .1rem rgba(94, 142, 266, .25),
0 .1rem 0 .1rem rgba(126, 110, 218, .5),
0 .1rem 0 .1rem rgba(126, 110, 218, .5),
.1rem -.1rem 0 .1rem rgba(159, 79, 211, .25),
.1rem .1rem 0 .1rem rgba(159, 79, 211, .25),
.1rem 0 0 .1rem rgba(191, 47, 203, .75); */
}

.quote__text--box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.2rem;
}

.long-quote {
  font-weight: 400;
  font-size: 2rem;
}

.quote__text--icon {
  align-self: start;
}

.quote__text--icon-left {
  margin: 0 1.5rem;
}

.quote__text--icon-right {
  margin-left: 0.3rem;
  margin: 0 2rem;
}

.quote__text--quote {
  box-shadow: inset 1rem 1rem 2rem #d0d0d0, inset -1rem -1rem 2rem #ebebeb;
  padding: 2rem;

  font-weight: 400;
  background: -webkit-linear-gradient(
    left,
    hsl(201, 82%, 44%),
    hsl(295, 62%, 50%)
  );
  background: linear-gradient(to left, hsl(201, 82%, 44%), hsl(295, 62%, 50%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quote__author {
  text-align: center;
  margin-top: 1.5rem;
  box-shadow: inset 1rem 1rem 2rem #d0d0d0, inset -1rem -1rem 2rem #ebebeb;
  padding: 2rem;
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-size: 2rem;
  font-weight: 400;
  background: -webkit-linear-gradient(
    left,
    hsl(201, 82%, 44%),
    hsl(295, 62%, 50%)
  );
  background: linear-gradient(to left, hsl(201, 82%, 44%), hsl(295, 62%, 50%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button__container {
  display: flex;
  justify-content: space-between;
  text-align: center;

  margin-top: 4rem;
}

.btn {
  background-color: #e2e2e2;
  border: none;
  outline: none;
  box-shadow: 0.5rem 1rem 2rem #d0d0d0, -0.5rem -1rem 2rem #ebebeb;
  padding: 2rem 6rem;
  margin: 2rem 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;

  background: -webkit-linear-gradient(
    left,
    hsl(201, 82%, 44%),
    hsl(295, 62%, 50%)
  );
  background: linear-gradient(to left, hsl(201, 82%, 44%), hsl(295, 62%, 50%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease;
}

.btn:hover {
  transform: scale(0.975);
  box-shadow: inset 0.5rem 1rem 2rem #d0d0d0, inset -0.5rem -1rem 2rem #ebebeb;
}

.btn:active {
  box-shadow: 0.5rem 0.5rem 2rem #d0d0d0, -0.5rem -0.5rem 2rem #ebebeb;
}

/* Loader */
.loader {
  box-shadow: 1.3rem 1.3rem 2rem #dcdcdc, -1.3rem -1.3rem 2rem #ebebeb;
  border: 16px solid #dcdcdc;
  border-top: 16px solid hsl(201, 82%, 44%); /* Light grey */
  border-bottom: 16px solid rgb(183, 83, 192); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 50em) {
  .quote__container {
    margin: auto 1rem;
  }

  .quote__text--quote {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 31.25em) {
  .quote__container {
    margin: auto 1rem;
  }

  .quote__text--quote {
    font-size: 2rem;
    font-weight: 500;
  }
  .quote__author {
    margin-top: 3rem;
  }

  .button__container {
    flex-direction: column;
  }
  .quote__text--box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
  }
  .quote__text--icon-left {
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .quote__text--icon-right {
    margin: 0 auto;
    margin-top: 1rem;
  }
}
